@model MovieLibrary.Models.Movie

@{
    ViewBag.Title = "Създай нов запис";
}

<script src="../Scripts/Rating.js"></script>

<h2>Добави нов</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Филми</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Genre, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Genre)
                @Html.ValidationMessageFor(model => model.Genre)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateOfWatching, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateOfWatching)
                @Html.ValidationMessageFor(model => model.DateOfWatching)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Rating, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="scoreboard">
                    <a class="star" id="1" href="#" onmouseover="Fill(1)" onmouseout="Empty(1)" onclick="Send(1)"></a>
                    <a class="star" id="2" href="#" onmouseover="Fill(2)" onmouseout="Empty(2)" onclick="Send(2)"></a>
                    <a class="star" id="3" href="#" onmouseover="Fill(3)" onmouseout="Empty(3)" onclick="Send(3)"></a>
                    <a class="star" id="4" href="#" onmouseover="Fill(4)" onmouseout="Empty(4)" onclick="Send(4)"></a>
                    <a class="star" id="5" href="#" onmouseover="Fill(5)" onmouseout="Empty(5)" onclick="Send(5)"></a>
                    <input type="hidden" class="text-box single-line" id="Rating" name="Rating" type="text" value="">
                    <span class="field-validation-valid" data-valmsg-for="Rating" data-valmsg-replace="true"></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Създай" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Назад", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
